.david-button {
  font-family: $david-font-family;
  font-size: map-get($david-font-sizes, "text");
  line-height: $david-line-height;
  font-weight: $david-font-weight-bold;
  text-align: left;
  color: $david-font-colour;
  padding: px-to-rem(10) px-to-rem(14);
  border: 2px solid $david-font-colour;
  border-radius: 4px;
  background-color: map-get($david-colours, "white");
  box-shadow: 0 0 0 px-to-rem(1) map-get($david-colours, "white");
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: auto;
  margin-top: map-get($david-spacing, "1");
  margin-left: 0;
  margin-right: map-get($david-spacing, "3");
  margin-bottom: map-get($david-spacing, "6");
  &:focus {
    @include focus-style;
  }
  &:hover {
    background-color: map-get($david-colours, "black");
    color: map-get($david-colours, "white");
  }
  &:active {
    top: px-to-rem(2);
  }
}

.david-button-group {
  display: block;
  margin-bottom: map-get($david-spacing, "4");
  .david-button {
    margin-bottom: map-get($david-spacing, "3");
  }
  .david-link {
    font-size: map-get($david-font-sizes, "text"); 
    display:inline-block;
    margin-top: map-get($david-spacing, "1");
    margin-left: 0;
    margin-right: map-get($david-spacing, "3");
    margin-bottom: map-get($david-spacing, "3");
    text-align: left;
  }
}

/* colouring selector to colour button by class */

@each $name, $value in $david-colours {
  .david-button--#{$name} {
    background-color: $value;
  }
}
