.david-footer {
    font-family: $david-font-family;
    font-size: map-get($david-font-sizes, 'text-sm');
    line-height: $david-line-height;
    font-weight: $david-font-weight-regular; 
    border-top: 1px solid map-get($david-colours, 'black'); 
    padding-bottom: map-get($david-spacing , '7'); 
    @include md {
        font-size: map-get($david-font-sizes, 'text-sm');
        padding-bottom: map-get($david-spacing , '7'); 
    }

}

.david-footer-navitem {
    display:block;
    margin-top:map-get($david-spacing , '5'); 
    @include md {
        display: inline-block;
        margin-top:map-get($david-spacing , '7'); 
        padding-right:map-get($david-spacing , '9');  
    }
}