.david-helptext{
    font-family: $david-font-family;
    font-size: map-get($david-font-sizes, 'text-sm');
    line-height: $david-line-height;
    font-weight: $david-font-weight-regular;
    color: $david-font-colour;
    display: block;
    margin-bottom: map-get($david-spacing , '1');
    @include md {
        font-size: map-get($david-font-sizes, 'text');
      }
}