.david-label{
    font-family: $david-font-family;
    font-size: map-get($david-font-sizes, 'text-sm');
    line-height: $david-line-height;
    font-weight: $david-font-weight-regular;
    color: $david-font-colour;
    display: block;
    margin-bottom: map-get($david-spacing , '3');
    @include md {
        font-size: map-get($david-font-sizes, 'text');
      }
}

//widths based on screen size
@each $name, $value in $david-grid-widths {
  .david-label__width--#{$name} {
    width:100%;
    @include md { 
      width: $value;
    }
  }   
}

.david-label--h1{
  font-weight: $david-font-weight-bold;
  font-size: map-get($david-font-sizes, 'h1-sm');
  @include md {
    font-size: map-get($david-font-sizes, 'h1');
  }
}

.david-label--h2{
  font-weight: $david-font-weight-bold;
  font-size: map-get($david-font-sizes, 'h2-sm');
  @include md {
    font-size: map-get($david-font-sizes, 'h2');
  }
}

.david-label--h3{
  font-weight: $david-font-weight-bold;
  font-size: map-get($david-font-sizes, 'h3-sm');
  @include md {
    font-size: map-get($david-font-sizes, 'h3');
  }
}

.david-label--h4{
  font-weight: $david-font-weight-bold;
  font-size: map-get($david-font-sizes, 'h4-sm');
  @include md {
    font-size: map-get($david-font-sizes, 'h4');
  }
}

.david-label--bold{
  font-weight: $david-font-weight-bold;
}
