$david-radiosmall-size: px-to-rem(34);
$david-radiosmall-endsize: px-to-rem(34);
$david-radiosmall-borderwidth: px-to-rem(2);
$david-radiosmall-dotsize: px-to-rem(18);
$david-radiosmall-dotborder: px-to-rem(9);
$david-radiosmall-dotspacing: ($david-radiosmall-endsize - $david-radiosmall-dotsize) / 2;
$david-radiosmall-padding-top: ($david-radiosmall-size - $david-radiosmall-endsize) /2;
$david-radio-label-fontsize: map-get($david-font-sizes, "text");
$david-radio-label-fontsize-mobile: map-get($david-font-sizes, "text-sm");
$david-radiosmall-label-padding-top: ($david-radiosmall-size - ($david-line-height * $david-radio-label-fontsize)) / 2;
$david-radiosmall-label-padding-top-mobile: ($david-radiosmall-size - ($david-line-height * $david-radio-label-fontsize-mobile)) /
    2;

.david-radio-small__item {
    display: block;
    position: relative;
    margin-bottom: map-get($david-spacing, "3");
    @include md {
        margin-bottom: map-get($david-spacing, "3");
    }
    &:last-of-type {
        margin-bottom:0;
    }
}

.david-radio-small__label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    padding-top: $david-radiosmall-label-padding-top-mobile;
    padding-left: $david-radiosmall-size + px-to-rem(13);
    min-height: $david-radiosmall-size;
    font-family: $david-font-family;
    font-size: $david-radio-label-fontsize-mobile;
    line-height: $david-line-height;
    font-weight: $david-font-weight-regular;
    color: $david-font-colour;
    @include md {
        font-size: $david-radio-label-fontsize;
        padding-top: $david-radiosmall-label-padding-top;
    }
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

//radio ring
.david-radio-small__label:before {
    content: "";
    position: absolute;
    top: $david-radiosmall-padding-top;
    left: 0;
    width: $david-radiosmall-endsize;
    height: $david-radiosmall-endsize;
    border: $david-radiosmall-borderwidth solid currentColor;
    border-radius: 50%;
}

// radio dot when checked
.david-radio-small__label:after {
    content: "";
    position: absolute;
    top: $david-radiosmall-dotspacing + $david-radiosmall-padding-top;
    left: $david-radiosmall-dotspacing;
    width: 0;
    height: 0;
    border: $david-radiosmall-dotborder solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background-color: currentColor;
}

// hide browser default radio component
.david-radio-small__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    width: $david-radiosmall-size;
    height: $david-radiosmall-size;
}

.david-radio-small__input:checked + .david-radio-small__label:after {
    opacity: 1;
}

.david-radio-small__input:focus + .david-radio-small__label {
    @include focus-style;
}
