$david-radio-endsize: px-to-rem(44);
$david-radio-borderwidth: px-to-rem(2);
$david-radio-dotsize: px-to-rem(24);
$david-radio-dotborder: px-to-rem(12);
$david-radio-dotspacing: ($david-radio-endsize - $david-radio-dotsize) / 2;
$david-radio-label-fontsize: map-get($david-font-sizes, "text");
$david-radio-label-fontsize-mobile: map-get($david-font-sizes, "text-sm");
$david-radio-label-padding-top: ($david-radio-endsize - ($david-line-height * $david-radio-label-fontsize)) / 2;
$david-radio-label-padding-top-mobile: ($david-radio-endsize - ($david-line-height * $david-radio-label-fontsize-mobile)) /
    2;

.david-radio__item {
    display: block;
    position: relative;
    margin-bottom: map-get($david-spacing, "3");
    @include md {
        margin-bottom: map-get($david-spacing, "3");
    }
    &:last-of-type {
        margin-bottom:0;
    }
}

.david-radio__label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
    padding-top: $david-radio-label-padding-top-mobile;
    padding-left: $david-radio-endsize + map-get($david-spacing, "4");
    min-height: $david-radio-endsize;
    font-family: $david-font-family;
    font-size: $david-radio-label-fontsize-mobile;
    line-height: $david-line-height;
    font-weight: $david-font-weight-regular;
    color: $david-font-colour;
    @include md {
        font-size: $david-radio-label-fontsize;
        padding-top: $david-radio-label-padding-top;
    }
    // remove 300ms pause on mobile
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

//radio ring
.david-radio__label:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $david-radio-endsize;
    height: $david-radio-endsize;
    border: 2px solid currentColor;
    border-radius: 50%;
}

// radio dot when checked
.david-radio__label:after {
    content: "";
    position: absolute;
    top: $david-radio-dotspacing;
    left: $david-radio-dotspacing;
    width: 0;
    height: 0;
    border: $david-radio-dotborder solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background-color: currentColor;
}

// hide browser default radio component
.david-radio__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
    width: $david-radio-endsize;
    height: $david-radio-endsize;
}

.david-radio__input:checked + .david-radio__label:after {
    opacity: 1;
}

.david-radio__input:focus + .david-radio__label {
    @include focus-style;
}
