.david-textarea {
    font-family: $david-font-family;
    font-size: map-get($david-font-sizes, 'text-sm');
    line-height: $david-line-height;
    font-weight: $david-font-weight-regular;
    color: $david-font-colour;
    box-sizing: border-box;
    width: 100%;
    min-height: map-get($david-spacing , '9' );
    margin-top: 0;
    padding:map-get($david-spacing , '3' );
    border:2px solid map-get($david-colours, 'black');
    border-radius: 0;
    resize: vertical;
    // Disable inner shadow and remove rounded corners
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    
            @include md {
                font-size: map-get($david-font-sizes, 'text');
              }
    
            &:focus {
                @include focus-style;
            }
}

//widths based on screen size
@each $name, $value in $david-grid-widths {
  .david-textarea__width--#{$name} {
    width:100%;
    @include md { 
      width: $value;
    }
  }   
}