.base-video-container {
    position: relative;
    display:block;
    padding-top: map-get($base-spacing, '8');
    padding-bottom: 56.25%;
    height:0;
    overflow: hidden;
    margin-bottom: map-get($base-spacing, '5');
    @include md {
        margin-bottom: map-get($base-spacing, '6');
    }
    iframe {
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
    }
}