.base-border--bottom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
}

.base-border--top {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: inherit;
}
