$base-colours: (
  'blue': #47a7ff,
  'light-blue': #6cd1ff,
  'teal': #46d4b0,
  'light-teal': #a8e8dc,
  'pink': #ff7d7d,
  'light-pink': #ffb5b1,
  'yellow': #ffdb65,
  'light-yellow': #fff099,
  'white': #ffffff,
  'gray': #959595,
  'black': #000000,
  'blank': transparent,
);

$base-link-colours: (
  'blue': #006bc3,
  'dark-blue': #00447B,
  'purple': #6935d2,
);

$base-focus-colours: (
 'blue': #2373ff,
 'pink': #e00099,
 'purple': #8c00d2,
) 
