$david-colours: (
  'blue': #47a7ff,
  'light-blue': #6cd1ff,
  'dark-teal': #02a97c,
  'teal': #46d4b0,
  'light-teal': #a8e8dc,
  'dark-pink': #d90b00,
  'pink': #ff7d7d,
  'light-pink': #ffb5b1,
  'yellow': #ffdb65,
  'light-yellow': #fff099,
  'white': #ffffff,
  'off-white': #FCFDFE,
  'off-white2': #F9f9f9,
  'dark-gray' : #555555,
  'gray': #959595,
  'light-gray' : #EAEBED,
  'black': #222222,
  'blank': transparent,
);

$david-link-colours: (
  'blue': #006bc3,
  'dark-blue': #00447B,
  'purple': #6935d2,
);

$david-focus-colours: (
 'blue': #2373ff,
 'pink': #e00099,
 'purple': #8c00d2,
) 
