/* colouring selector to colour type by class */

@each $name, $value in $base-colours {
  .base-font--#{$name} {
    color: $value !important;
  }   
}

/* default colours variables for text */
$base-font-colour: map-get($base-colours, 'black');
$base-heading-colour: map-get($base-colours, 'black');
$base-link-colour: map-get($base-link-colours, 'blue');
$base-link-colour--hover: map-get($base-link-colours, 'dark-blue');
$base-link-colour--visited: map-get($base-link-colours, 'purple');

