
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$base-font-family: Arial, sans-serif;
$base-header-family: $base-font-family;
$base-code-family: 'Roboto Mono', monospace;
$base-heading-family: $base-font-family;
$base-font-weight-regular: 400 !default; 
$base-font-weight-bold: 700 !default;
