
.david-html {
    // set to 100% to avoid chrome picking up error
    // use px to rem function to size elements correctly
    font-size: 100%;

    // Prevent automatic text sizing, as we already cater for small devices and
    // would like the browser to stay on 100% text zoom by default.
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;

    text-align: left;
}
