/* What to show when jaavscript is enabled in browser */
.js-enabled .david-navbutton{
    display:inline-block;
    @include md {
        display:none;
    }
}

.js-enabled .david-navbar{
    display:none;
    @include md {
        display:block;
    }
}