.david-width-container{
  max-width: 1016px;
  position: relative;
  margin-left: px-to-rem(16);
  margin-right: px-to-rem(16);
  @include md {
    margin-left: px-to-rem(32);
    margin-right: px-to-rem(32);
  }  
  @include lg {
    margin-left: px-to-rem(32);
    margin-right: px-to-rem(32);
  }  
  @include xl {
    margin-left: auto; 
    margin-right: auto;
  }  
}

.david-main-wrapper{
  padding-top: map-get($david-spacing, '7');
  padding-bottom: map-get($david-spacing, '5');
  @include md {
    padding-top: map-get($david-spacing, '10');
    padding-bottom: map-get($david-spacing, '9');
  }
}


@each $name, $value in $david-spacing {
  .david-bottom-margin--#{$name} {
    margin-bottom: $value !important;
  }   
}

@each $name, $value in $david-spacing {
  .david-top-margin--#{$name} {
    margin-top: $value !important;
  }   
}

