

/* default heading & text setup */
@mixin baseheading {
  font-family: $david-heading-family;
  line-height: $david-line-height;
  /* font-weight: $david-font-weight-bold; */
  color: $david-heading-colour;
  margin-top: 0;
  display: block;
}

@mixin basebody {
  font-family: $david-font-family;
  line-height: $david-line-height;
  font-weight: $david-font-weight-regular;
  color: $david-font-colour;
  margin-top: 0;
  display: block;
}



.david-heading-h1 {
  @include baseheading;
  font-weight: $david-font-weight-bold;
  font-size: map-get($david-font-sizes, 'h1-sm');
  margin-bottom: map-get($david-spacing, '4'); 
  @include md {
    font-size: map-get($david-font-sizes, 'h1');
    margin-bottom: map-get($david-spacing, '5'); 
  }
} 

.david-heading-h2 {
  @include baseheading;
  font-weight: $david-font-weight-semibold;
  font-size: map-get($david-font-sizes, 'h2-sm');
  margin-bottom: map-get($david-spacing, '4');
    @include md {
    font-size: map-get($david-font-sizes, 'h2');
    margin-bottom: map-get($david-spacing, '5'); 
  }
}

.david-heading-h3 {
  @include baseheading;
  font-weight: $david-font-weight-semibold;
  font-size: map-get($david-font-sizes, 'h3-sm');
  margin-bottom: map-get($david-spacing, '4');
    @include md {
    font-size: map-get($david-font-sizes, 'h3');
    margin-bottom: map-get($david-spacing, '4'); 
  }
}

.david-heading-h4 {
  @include baseheading;
  font-weight: $david-font-weight-semibold;
  font-size: map-get($david-font-sizes, 'h4-sm');
  margin-bottom: map-get($david-spacing, '4'); 
    @include md {
    font-size: map-get($david-font-sizes, 'h4');
    margin-bottom: map-get($david-spacing, '4'); 
  }
}

.david-body-large {
  @include basebody;
  font-size: map-get($david-font-sizes, 'intro-text-sm');
  margin-bottom: map-get($david-spacing, '6');
    @include md {
    font-size: map-get($david-font-sizes, 'intro-text');
    margin-bottom: map-get($david-spacing, '7'); 
  }
}

.david-body {
  @include basebody;
  font-size: map-get($david-font-sizes, 'text-sm');
  margin-bottom: map-get($david-spacing, '4');
    @include md {
    font-size: map-get($david-font-sizes, 'text');
    margin-bottom: map-get($david-spacing, '5'); 
  }
}

.david-body-small {
  @include basebody;
  font-size: map-get($david-font-sizes, 'small-text-sm');
  margin-bottom: map-get($david-spacing, '4');
  @include md {
    font-size: map-get($david-font-sizes, 'small-text');
    margin-bottom: map-get($david-spacing, '5'); 
  }
}

.david-body + .david-heading-h2, .david-list + .david-heading-h2, .david-video-container + .david-heading-h2, .david-table + .david-heading-h2 {
  padding-top: map-get($david-spacing, '2');
}

.david-body + .david-heading-h3 , .david-list + .david-heading-h3 , .david-video-container + .david-heading-h3, .david-table + .david-heading-h3 {
  padding-top: map-get($david-spacing, '2');
}

.david-body + .david-heading-h4, .david-list + .david-heading-h4, .david-video-container + .david-heading-h4, .david-table + .david-heading-h4 {
  padding-top: map-get($david-spacing, '2');
}

.david-body + .david-table>.david-table__caption>.david-heading-h2, .david-body + .david-table>.david-table__caption>.david-heading-h3, .david-body + .david-table>.david-table__caption>.david-heading-h4 {
  padding-top: map-get($david-spacing, '2');
}

.david-body-bold {
  font-weight: $david-font-weight-bold;
}

.david-list {
  @include basebody;
  font-size: map-get($david-font-sizes, 'text-sm');
  margin-bottom: map-get($david-spacing, '4');
  padding-left: map-get($david-spacing, '5');
    @include md {
    font-size: map-get($david-font-sizes, 'text');
    margin-bottom: map-get($david-spacing, '5'); 
  }
  li {
    margin-bottom: map-get($david-spacing, '1');
  }
}

.david-list--number {
  list-style-type: decimal;
}

.david-list--bullet {
  list-style-type: disc; 
}

.david-body-block {
  padding:map-get($david-spacing, '3');
  display: inline-block;
  @include md{
    padding:map-get($david-spacing, '4');
  }
}
